/* shared style */
body{
    font-family: 'Work Sans', sans-serif;
    max-width: 1440px;
    margin: 0;
}
.primary-button{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 16px 32px;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}


/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 0px 100px;
}
.nav-title{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-title h1{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin: 24px 0;
}
.nav-title img{
    width: 86.041px;
    height: 40px;
}
.nav-content ul{
    display: flex;
    gap: 32px;
    align-items: center;
}
.nav-content ul li{
    list-style: none;
}
.nav-content a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 400;
}
.nav-content-icon{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 16px 24px;
}
.nav-content-icon i{
    margin-left: 16px;
}

/* nav style end */
/* banner style */
.banner{
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    width: 50%;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}
.banner-image{
    width: 50%;
}
.banner-image img{
    width: 100%;
}
.banner-content h3{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.banner-content h1{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5px;
    margin-bottom: 0px;
}
.list{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    list-style: none;
    margin-bottom: 40px;
    margin-top: 24px;
}
.go-button{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 16px 32px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-left: 16px;
}

/* gamer style */
.gamer{
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-content{
    text-align:right;
    width: 40%;
}
.gamer-image{
    width: 70%;
}
.gamer-image img{
    width: 100%;
}
.gamer-content h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0px;
}
.gamer-content p{
    color: #534C64;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; 
    margin-top: 24px;
    margin-bottom: 30px;
}
.gamer-content h3{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 45px; 
}
.gamer-quotes{
    font-size: 26px; 
    font-weight: 700;
}


/* online games */
.online-games{
    padding: 0px 100px 100px 0px;
    text-align: center;
}
.online-games-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
}
.online-gradient{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-games-details{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 16px;
    margin-bottom: 0px;
}
.online-games-card{
    display: flex;
    gap: 24px;
    margin-top: 40px;
}
.card{
    width: 342px;
    height: 400px;
}
.card img{
    width: 100%;
}

/* play instantly */
.play-instantly{
    padding: 0px 100px 0px 100px;
    display: flex;
    gap: 250px;
}
.play-instantly-content{
    width: 50%;
    text-align: right;
    padding-top: 80px;
}
.play-instantly-content h1{
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 0;
}
.play-instantly-image{
    width: 50%;
}
.play-instantly-image img{
    width: 434.833px;
    height: 450px;
}
.position-image img{
    width: 218.5px;
    height: 265.083px;
}
.position-image{
    position: relative;
    bottom: 200px;
    right: 100px;

}


/* play online games */
.play-online{
    padding: 0px 100px 0px 100px;
    display: flex;
    gap: 250px;
}
.play-online-content, .play-online-content h1{
    text-align: start;
}
.play-online-image img{
    width: 434.833px;
    height: 450px;
}
.position-image2 img{
    width: 218.5px;
    height: 265.083px;
}
.position-image2{
    position: relative;
    left: 290px;
    bottom:150px;
}

/* mobile responsive */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        padding: 0;
        box-shadow: none;
    }
    .nav-title{
        margin-bottom: 20px;
    }
    .nav-content ul{
        flex-direction: column;
        padding-inline-start: 0px;
    }
    .nav-content{
        text-align: center;
    }
    .nav-content-icon{
        margin-top: 30px;
    }


    .banner{
        padding: 40px 60px;
        flex-direction: column-reverse;
    }
    .banner-content{
        width: 100%;
    }
    .banner-image{
        width: 100%;
        margin-bottom: 40px;
    }
    .banner-content h3{
        font-size: 30px;
    }
    .banner-content h1{
        font-size: 60px;
    }
    .list{
        font-size: 16px;
        margin-bottom: 0px;
    }
    .primary-button, .go-button{
        padding: 12px 24px;
        font-size: 12px;
    }



    .gamer{
        flex-direction: column;
        padding: 20px 40px;
        gap: 0;
    }
    .gamer-image{
        width: 100%;
    }
    .gamer-content{
        width: 100%;
        text-align: center;
    }
    .gamer-content h1{
        font-size: 26px;
    }
    .gamer-quotes{
        font-size: 18px;
    }



    .online-games{
        padding: 20px 20px 80px 20px;
        padding-top: -50px;
    }
    .online-games-card{
        flex-direction: column;
        gap: 70px;
        align-items: center;
    }
    .online-games-title{
        font-size: 24px;
    }




    .play-instantly{
        flex-direction: column;
        padding: 0px 20px;
        gap: 50px;
    }
    .play-instantly-content{
        width: 100%;
        padding-top: 0px;
        text-align: center;
        font-size: 18px;
    }
    .play-instantly-content h1{
        text-align: center;
        font-size: 24px;
        line-height: 40px;
    }
    .play-instantly-image{
        width: 100%;
        text-align: center;
    }
    .play-instantly-image img{
        width: 234.833px;
        height: 250px;
        margin-left: 40px;
    }
    .position-image{
        position: relative;
        bottom: 110px;
        right: 130px;
    
    }
    .position-image img{
        width: 130.5px;
        height: 150.083px;
    }








    .play-online{
        flex-direction: column-reverse;
        padding: 0 20px;
        gap: 40px;
    }
    .play-online-image img{
        width: 234.833px;
        height: 250px;
        padding-left: 50px;
        
    }
    .position-image2{
        position: relative;
        bottom: 110px;
        left: 150px;
        max-width: 130px;
    
    }
    .position-image2 img{
        width: 130.5px;
        height: 150.083px;
    }
}



/* tablet responsive */
@media screen and (min-width:576px) and (max-width:768px) {
    nav{
        flex-direction: column;
        padding: 0;
        box-shadow: none;
    }
    .nav-title{
        margin-bottom: 20px;
    }
    .nav-content ul{
        padding-inline-start: 0px;
        align-items: center;
    }
    .banner{
        padding: 40px 60px;
        flex-direction: column-reverse;
    }
    .banner-content{
        width: 100%;
        text-align: center;
    }
    .banner-image{
        width: 100%;
        margin-bottom: 40px;
    }
    .banner-content h3{
        font-size: 40px;
    }
    .banner-content h1{
        font-size: 100px;
    }
    .list{
        font-size: 22px;
        margin-bottom: 0px;
    }
    .primary-button, .go-button{
        padding: 14px 28px;
        font-size: 16px;
    }



    .gamer{
        flex-direction: column;
        padding: 20px 40px;
        gap: 0;
    }
    .gamer-image{
        width: 100%;
    }
    .gamer-content{
        width: 100%;
        text-align: center;
    }
    .gamer-content h1{
        font-size: 48px;
    }
    .gamer-quotes{
        font-size: 24px;
    }



    .online-games{
        padding: 20px 40px;
    }
    .online-games-card{
        flex-direction: column;
        gap: 100px;
        align-items: center;
    }
    .online-games-title{
        font-size: 44px;
    }





    .play-instantly{
        flex-direction: column;
        padding-top: 40px;
        gap: 50px;
    }
    .play-instantly-content{
        width: 100%;
        padding-top: 0px;
        text-align: center;
        font-size: 18px;
    }
    .play-instantly-content h1{
        text-align: center;
        font-size: 44px;
        line-height: 60px;
        margin-top: 0;
    }
    .play-instantly-image{
        width: 100%;
        text-align: center;
    }
    .play-instantly-image img{
        width: 334.833px;
        height: 350px;
        margin-left: 40px;
    }
    .position-image{
        position: relative;
        bottom: 110px;
        right: 130px;
    
    }
    .position-image img{
        width: 170.5px;
        height: 190.083px;
    }



    .play-online{
        flex-direction: column-reverse;
        padding: 0 20px;
        gap: 40px;
    }
    .play-online-image img{
        width: 334.833px;
        height: 350px;
        padding-left: 150px;
        
    }
    .position-image2{
        position: relative;
        bottom: 110px;
        left: 250px;
        max-width: 130px;
    
    }
    .position-image2 img{
        width: 170.5px;
        height: 190.083px;
    }
}